.mainMenu {
    height: 100%;
}

.ui.vertical.tabular.menu {
    height: 100%;
}

i.icon.d4icon:before {
    content: url("/images/d4.svg");
    position: relative;
}

i.icon.d6icon:before {
    content: url("/images/d6.svg");
    position: relative;
}

i.icon.d8icon:before {
    content: url("/images/d8.svg");
    position: relative;
}

i.icon.d10icon:before {
    content: url("/images/d10.svg");
    position: relative;
}

i.icon.d12icon:before {
    content: url("/images/d12.svg");
    position: relative;
}

i.icon.d20icon:before {
    content: url("/images/d20.svg");
    position: relative;
}

i.icon.d20smallicon:before {
    content: url("/images/d20_small.svg");
    position: relative;
    top: -2px;
    left: -5px;
}

i.icon.d4icon {
    width: 70px;
    vertical-align: inherit !important;
}

i.icon.d6icon {
    width: 70px;
    vertical-align: inherit !important;
}

i.icon.d8icon {
    width: 70px;
    vertical-align: inherit !important;
}

i.icon.d10icon {
    width: 70px;
    vertical-align: inherit !important;
}

i.icon.d12icon {
    width: 70px;
    vertical-align: inherit !important;
}

i.icon.d20icon {
    width: 70px;
    vertical-align: inherit !important;
}

button.diceButton {
    width: 74px;
    height: 74px;
    padding: 0px !important;
    color: white;
    background-color: black;
}

#dice-box,
#dice-box canvas {
    position: fixed;
    pointer-events: none;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 12.5%;
}

